.text {
  font-size: 14px;
  margin: 32px 0;
}

.painel {
  background-color: var(--color-darken20);
  border-radius: 8px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
  margin-bottom: 16px;
}

.link {
  display: inline-flex;
  width: 100%;
}

.icon {
  font-size: 32px;
  margin-right: 16px;
  color: var(--color-secondary);
}

.button {
  cursor: pointer;
  font-size: 12px;
  border-radius: 8px;
  background-color: transparent;
  border: rgba(255,255,255, 0.2) 1px solid;
  color: var(--color-text);
  padding: 8px 16px;
  text-transform: capitalize;
  width: 100%;
}
