.button {
  cursor: pointer;
  font-size: 12px;
  font-weight: 500;
  background-color: #fff;
  border-radius: 8px;
  color: #474d66;
  display: flex;
  align-items: center;
  outline: none;
  background-color: var(--color-primary);
  border: 0 none;
  width: 100%;
  justify-content: center;
  color: var(--color-dark);
  font-weight: 700;
  padding: 8px 16px;
}
